body {
	background-color: #111;
	
	box-sizing: border-box;
	padding: 25px;
	margin: 0;

	width: 100vw;
	height: 100vh;
}

#main {
	display: flex;
	flex-direction: column;
	gap: 15px;

	box-sizing: border-box;
	background-color: #111;
	border: 5px solid #999;
	border-radius: 10px;

	width: 100%;
	height: 100%;
}

#tabs {
	display: flex;
	flex-direction: row;
	gap: 5px;

	height: 40px;

	padding: 20px 20px 0 20px;
}

#tab-new {
	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0.6;
	transition: 100ms opacity;
	
	background-color: #777;
	border-radius: 10px;
	
	padding: 5px;
	margin: 5px;

	cursor: pointer;
	width: 30px;
	box-sizing: border-box;
}

#tab-new:hover {
	opacity: 1.0;
}

#tab-new > img {
	height: 100%;
}

.tab {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	color: white;
	background-color: #4449;
	border-radius: 10px 10px 0 0;
	padding: 10px;

	width: 220px;
}

.tab-selected {
	background-color: #4b4b4b;
}

.tab > p {
	font-family: monospace;
	font-size: 15px;
	margin: 0;

	flex-grow: 1;
}

.tab-icon {
	height: 25px;
	margin-right: 10px;
}

.tab-x {
	padding: 5px;
}

.tab-x:hover {
	background-color: #a55;
	border-radius: 50%;
	cursor: pointer;
}

#search__wrapper {
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;

	gap: 5px;

	height: 50px;
	box-sizing: border-box;

	background-color: #444;

	padding: 2px 10px;
	width: 100%;

	margin: auto;
}

#search {
	font-family: monospace;
	font-size: 20px;

	color: white;
	background-color: #555;
	border-radius: 10px;

	padding: 5px;
	margin: 10px;

	width: 50%;

	outline: none;
	border: none;
}

#search__icon {
	height: auto;
	width: auto;

	padding: 5px;

	filter: invert(1);

	border-radius: 15px;
	transition: 100ms;
	cursor: pointer;
}

#search__icon:not(.loading-rotation-animation):hover {
	cursor: pointer;
	background-color: #5554;
	border-radius: 3px;

	transform: scale(1.2);
}

@keyframes rotate {
	from {
		rotate: 0;
	}

	to {
		rotate: 360deg;
	}
}

.loading-rotation-animation {
	animation: rotate 500ms linear;
	animation-iteration-count: infinite;
	animation-delay: 100ms;
}

.content {
	display: none;

	flex-grow: 1;
	overflow: hidden;

	background-color: #123;
}

.frame {
	width: 100%;
	height: 100%;
	border: none;
}